.board {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  justify-content: center;
  flex: 1 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}