$boxSize: 60px;

.wrapper {
  font-size: $boxSize;
  box-sizing: border-box;
  padding: 6px;
  transition: opacity .2s;
  min-height: 1em;
  min-width: 1em;

  &.selected {
    opacity: .4;
  }
}

.panel {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  perspective: 600px;
  background: transparent;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

.front,
.back {
  height: inherit;
	position: absolute;
	top: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .4s ease-in-out;
}
.front {
	z-index: 900;
  transform: rotateX(0deg) rotateY(0deg);
}
.back {
  z-index: 1000;
  transform: rotateY(-180deg);
}
.flipped {
  .front {
    z-index: 900;
    transform: rotateY(180deg);
  }
  .back {
    z-index: 1000;
    transform: rotateX(0deg) rotateY(0deg);
  }
}

.box1,
.box2 {
	width: .8em;
	height: .8em;
	margin: 0 auto;
  border-radius: 4px;
  border: 2px solid transparent;
}
.box1 {
	background-color: #14bcc8;
}
.box2 {
	background-color: #ff7e70;
}
