
.wrapper {
  flex-basis: calc(100% / 6);
  box-sizing: border-box;
  margin: 6px;
  padding: 6px;
}
.tile {
  background: green;
}
.flipped .tile {
  background: red;
}
.selected .tile {
  opacity: .2;
}

.tile {
  background-color: currentColor;
  // font-size: 100px;

  
  // height: 1em;
  // width: 1em;

  width: 100%;
  padding-top: 100%;

  border: none;
  outline: none;
  box-sizing: content-box;
  // margin: 5px;
  border-radius: 6px;

  cursor: pointer;
}
