
.wrapper {
  flex-basis: calc(100% / 6);
  box-sizing: border-box;
  margin: 6px;
  padding: 6px;
  transition: opacity .2s;

  .tile {
    background: green;
  }
  &.flipped .tile {
    background: red;
  }
  &.selected {
    opacity: .2;
  }
}

.tile {
  // color: currentColor;
  background-color: currentColor;

  width: 100%;
  padding-top: 100%;

  border: none;
  outline: none;
  box-sizing: content-box;
  // margin: 5px;
  border-radius: 6px;
  transition: background .4s;
  transition-delay: .2s;

  cursor: pointer;
}
