.wrapper {
  width: 100%;
  padding: 16px 0 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  font-weight: bold;
  padding: 10px 16px;
  margin: 0 4px;
  border: none;
  border-radius: 4px;
  color: var(--color-sec-darker);
  background: var(--color-sec-lighter);
  border-bottom: 4px solid var(--color-sec-light);
  cursor: pointer;
  transition: border .2s;

  &:hover {
    border-bottom-color: var(--color-accent);
  }
}